
*{
  font-family: 'Poppins';

}
.App {
  text-align: center;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;

}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}


.card{
  position: absolute;
  top: 10%;
  left: 15%;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1 px solid black;
  border-top-left-radius: 8px;
  z-index: 20;
}
.card h1{
  font-style: italic;
  background-color: white;
}
.pomodoro-timer{
  
  border: 1px solid transparent;
  position:absolute;
  height: 90%;
  width: 20%;
  z-index: 100;
  margin-top: 3%;
  margin-left:75%;
  background-color: transparent;
}
.timer-display{  
  z-index: 30;
  margin-top:3.5%;
  margin-left: 35%;
  border: 1px solid black;
  background-color: white;
  border-radius: 20px;
  width: 50%;
  height: 11%;
  position: absolute;
  font-size: 50px;
}
.timer-type{
  background-color: transparent;
  border:1px solid transparent;
  z-index:30;
  margin-top:28%;
  margin-left: 25%;
  position: absolute;
  font-size: 20px;
  color:#1D263B;
}
.Pomo-header{
background-color: white;
position: absolute;
margin-top: 70%;
margin-left: 25%;
font-size: 15px;
}
.timer-controls {
  background-color: transparent;
}
.Start-button{
  background-color:#1D263B;
  color:white;
  font-size: 25px;
  margin: 20px;
  z-index: 30;
  width: 78%;
  height: 13%;
  border-radius: 30px 30px 30px 15px;
  border: 1px solid black;
  margin-top: 40%;
  margin-left: -30%;
  position: absolute;
}

.Settings-button{
  background: transparent;
  border:1px solid transparent;
}

.Settings-button img{
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: transparent;
  width: 25px;
  z-index: 100;
  margin-top: 24%;
  margin-left: 30%;
  position: absolute;
}

.Reset-button{
  background-color: rgb(255, 255, 255);
  margin: 20px;
  z-index: 40;
  width: 20%;
  height: 10%;
  border-radius: 50px;
  border: 1px solid transparent;
  margin-top: 60%;
  margin-left: 5%;
  position: absolute;
  color:rgb(0, 0, 0);
}

.Reset-button p{
  background-color: transparent;
  color:white;
  font-size:15px;
  font-weight: bolder;
  
}
.timer-settings-popup{
  width: 300px;
  height: 250px;
  border-radius: 42px; /* Border radius will make the corners rounded */
  background: #1D263B; /* Background color set to a dark shade */
  /* Add additional styles like padding, display, and flex if necessary */
  padding: 20px; /* Padding inside the popup */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  display: flex; /* Example: Use flexbox for laying out inner elements */
  flex-direction: column; /* Arrange children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  position: absolute; /* Position absolute to position the popup over other content */
  top: 60%; /* Center the popup vertically */
  left: 55%; /* Center the popup horizontally */
  transform: translate(-50%, -50%); /* Offset by -50% of its size for perfect centering */
  z-index: 1000;
  font-family: 'DM Sans', sans-serif;
}
.timer-settings{
  background-color: #1D263B;

}
.timer-settings h1{
  position:absolute;
  background-color: transparent;
  color:white;
  margin-top: -10%;
  margin-left:22%;
  font-size: 20px;
  font-style: normal;
  font-family: 'DM Sans', sans-serif;
}
.timer-settings label{
  background-color: transparent;
  color:white;
  font-size: 15px;
  margin-bottom: 5px;
  font-family: 'DM Sans', sans-serif;
}
.timer-settings input{
  background-color: white;
  border:1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
}

.cancel-button{
  border: 1px solid transparent;
  background-color: transparent;
}

.cancel-icon{
  border: 1px solid black;
  border-radius: 30px;
  background-color: black;
  width: 30px;
  z-index: 100;
  margin-top: -55%;
  margin-left: 35%;
  position:absolute;
}


.content{
  display: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  position: absolute;
  top: 10%;
  left: 15%;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1 px solid black;
  border-top-left-radius: 8px;
  z-index: 20;
}
.content h1{
  background-color: white;
}
.show-content{
  display: inline;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  position: absolute;
  top: 10%;
  left: 15%;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1 px solid black;
  border-top-left-radius: 8px;
  z-index: 20;
}
.show-content h1{
  font-style: italic;
  background-color: white;
}
.defaultButton{
  z-index: 10;
  width: 6%;
  height: 30%;
  background-color: rgb(222, 222, 222);
  position: absolute;
  border: 1px solid transparent;
  border-radius: 15px;
  margin-top: 5.05%;
  margin-left: -39.8%;
  
}
.defaultButton h1{
  font-weight: 900;
  font-size: 25px;
  background-color: rgb(222, 222, 222);
  color: rgb(63, 63, 63);
  writing-mode: vertical-rl;
  border: 1px solid transparent;
  margin: 10px 30px 10px 8px;
}
.defaultButton img{
  width: 32%;
  background-color: rgb(222, 222, 222);
  padding: 10px; 
  margin: 10px 30px 0px 0px;
}
.clickedButton{
  z-index: 30;
  width: 6%;
  height: 31%;
  background-color: white;
  position: absolute;
  border: 1px solid transparent;
  border-radius: 15px;
  margin-top: 4.75%;
  margin-left: -39.8%;
}
.clickedButton h1{
  font-size: 25px;
  font-weight: 900;
  background-color: white;
  writing-mode: vertical-rl;
  border: 1px solid transparent;
  text-align: center;
}
.clickedButton img{
  width: 32%;
  background-color: white;
  padding: 20px; 
  margin: 10px 10px 0px 0px;
}
.defaultButton-calender{
  z-index: 10;
  width: 6%;
  height: 30%;
  background-color: rgb(222, 222, 222);
  position: absolute;
  border: 1px solid transparent;
  border-radius: 15px;
  margin-top: 19.20%;
  margin-left: -39.8%;
}
.defaultButton-calender h1{ 
  font-weight: 900;
  font-size: 25px;
  background-color: rgb(222, 222, 222);
  color: rgb(63, 63, 63);
  writing-mode: vertical-rl;
  border: 1px solid transparent;
  margin: 10px 30px 10px 8px;
}
.defaultButton-calender img{
  width: 32%;
  background-color: rgb(222, 222, 222);
  padding: 10px; 
  margin: 10px 30px 0px 0px;
}
.clickedButton-calender{
  z-index: 30;
  width: 6%;
  height: 30%;
  background-color: white;
  position: absolute;
  border: 1px solid transparent;
  border-radius: 15px;
  margin-top: 19.20%;
  margin-left: -39.8%;
}
.clickedButton-calender h1{ 
  font-size: 25px;
  font-weight: 900;
  background-color: white;
  writing-mode: vertical-rl;
  border: 1px solid transparent;
  text-align: center;
}
.clickedButton-calender img{
  width: 32%;
  background-color: white;
  padding: 20px; 
  margin: 10px 10px 0px 0px;
}

.plus-button {
  position: absolute;
  top: 25px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
.dropdown-container {
  left: 10px;
  text-align: start;
}

/* Styles for the select element itself */
.dropdown-container select {
  width: 17%;
  padding: 20px;
  margin-top: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none; /* Removes default chrome and safari style */
  -moz-appearance: none; /* Removes default style Firefox */
  appearance: none; /* Remove default arrow in IE */
}

/* Style for adding an arrow symbol in the dropdown */
.dropdown-container select:after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 15px;
  pointer-events: none;
}

/*Category button and pop up styling*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.category-button-container button {
  width: 145px;
  height: 22px;
  position: relative;
  left: -30px;
  background: none;
  color: #4A4A48;
  border: none;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-size: 115%;
  border-radius: 4px;
  animation-duration: 0ms; /* Instant animation as required, though this will not have any visible effect */
  transition: background-color 0.3s; /* Assuming you want a color change on hover, for example */
}

.popup {
  width: 627px;
  height: 235px;
  border-radius: 42px; /* Border radius will make the corners rounded */
  background: #1D263B; /* Background color set to a dark shade */
  /* Add additional styles like padding, display, and flex if necessary */
  padding: 20px; /* Padding inside the popup */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  display: flex; /* Example: Use flexbox for laying out inner elements */
  flex-direction: column; /* Arrange children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  position: absolute; /* Position absolute to position the popup over other content */
  top: 50%; /* Center the popup vertically */
  left: 50%; /* Center the popup horizontally */
  transform: translate(-50%, -50%); /* Offset by -50% of its size for perfect centering */
  z-index: 1000; /* Ensure it's on top of other content */
}

.popup-title {
  width: 192px;
  height: 39px;
  position: absolute;
  top: 35px;
  font-family: 'DM Sans', sans-serif;
  font-size: 190%;
  font-weight: 500;
  line-height: 39.06px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFF; 
  background: none;
  margin: 0; /* Remove default margins from heading element */
}

.popup input{
margin-top: 39px;
width: 343px;
height: 48px;
top: 113px;
border-radius:30px;
text-align: center;
border: 1px solid #1C1C1C33;
background-color: #FFFF;
}


.popup button {
position: absolute;
width: 105px;
height: 32px;
left: 270px;
top: 200px;
filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.1));
background: #ffffff;
border-radius: 100px;  

font-family: 'DM Sans', sans-serif;
font-style: normal;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #000000;

}

.plus-button-container{
  width: 25px;
  height: 25px;
  position: relative;
  padding-right: 3%;
  padding-left: 3%;
  background: none;
  color: #4A4A48;
  border: none;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  border-radius: 50%;
  animation-duration: 0ms; /* Instant animation as required, though this will not have any visible effect */
  transition: background-color 0.3s; /* Assuming you want a color change on hover, for example */
}

.top-row {
  display: flex;
  justify-content:right;
  margin-top: 30px;
  margin-right: 30px;
}

.top-row1 {
  display: flex;
  justify-content:left;
  margin-top: 30px;
  margin-left: 15%;
  gap: 10%;
}
.logo {
  margin-left: 0;
  margin-right: auto;
}

.layout-card1 {
  background-color: #1D263B;
  position: absolute;
  width: 288px;
  height: 569px;
  top: 125px;
  left: 200px;
  gap: 0px;
  opacity: 0px;
  color: #ffbfae;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5%;
  z-index: 21;
 
  font-family: sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 100;
  line-height: 39.06px;
  text-align: left;
  padding-left: 1.5%;
  color: white;

}

.layout-card2 {
  background-color: #1D263B;
  position: absolute;
  width: 288px;
  height: 569px;
  top: 125px;
  left: 600px;
  gap: 0px;
  opacity: 0px;
  color: #ffbfae;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 5%;
  z-index: 21;
 
  font-family: sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 100;
  line-height: 39.06px;
  text-align: left;
  padding-left: 1.5%;
  color: white;

}
.line {
  border-bottom: 2px solid white;
  display: block;
  width: 85%;
  z-index: 22;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.mode-dropdown-wrapper {
  border: 1px solid black;
  display: flex; /* Aligns children (label and select) in a row */
  align-items: center; /* Centers children vertically */
  background: #FFFFFF; /* White background for the dropdown */
  border-radius: 22px; /* Oval shape */
  padding: 10px 20px; /* Padding around the content */
  position: relative; /* Needed for absolute positioning of the arrow */
  width: 250px; /* Adjusts width as needed */
  height: 30px;
  left: 195px;
  bottom: 45px;
  min-width: 15px; /* Ensures dropdown does not get too narrow */
  margin-top: -30px;
}

.mode-label {
  margin-right: 10px; /* Space between the label and the dropdown */
  background: #FFFFFF; /* Ensures label background matches the wrapper */
  font-size: 21px; /* Match font size to dropdown for consistency */
  font-family: 'Poppins', sans-serif;
  color: rgba(74, 74, 72, 1);
  
}

.mode-dropdown-wrapper select {
  border: none;
  outline: none;
  background: transparent;
  font-size: 21px;
  font-family: 'Poppins', sans-serif;
  color: rgba(74, 74, 72, 1);
  cursor: pointer;
  width: 100%;  
}

.mode-dropdown-wrapper select option {
  background-color: white;
  width: 100%;
}


.close-button {
  color: #FFFF;
  font-size: 30px !important;
  top: -150px  !important;
  cursor: pointer;
  position: relative !important;
  z-index: 1 !important;
  height: 25px !important;
  width: 25px !important;
  line-height: 25px !important;
  text-align: center !important;
  background-color: transparent !important;
  border-radius: 10% !important;
  transform: rotate(-45deg);
  }
  
  
  .close-button::after {
    content: '';
    position: absolute;
    top: 60%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 3px solid #FFFF;
    border-radius: 50%; 
  }

.close-btn{
  position: absolute;
  top: -15px; /* Adjust the top position to move the button up */
  right: -15px; /* Adjust the right position to move the button to the right */
  width: 30px; /* Set the width of the button */
  height: 30px; /* Set the height of the button */
  background-color: transparent; /* Set the background color of the button */
  border-radius: 50%; /* Make the button round */
  font-size: 18px; /* Set the font size of the button */
  cursor: pointer;
  z-index: 1; /* Ensure the button appears above the popup content */
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.tabs {
  display: flex;
  background-color: transparent;
  margin-left: 10px;
  
}

.tab {
  padding: 5px;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 30px;
  width: 100px;
  background-color: white;
  border: 1px solid rgba(28, 28, 28, 0.2);
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.62px;
  text-align: center;

.tabs {
  display: flex;
  background-color: transparent;
  margin-left: 10px;
  
}

.tab {
  padding: 5px;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 30px;
  width: 100px;
  background-color: white;
  border: 1px solid rgba(28, 28, 28, 0.2);
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.62px;
  text-align: center;


}

.tab.active {
  background-color: rgb(224, 192, 149);
  color: #fff;
}

.checkmark {
  margin-left: 5px;
}

.timer-display{
  top: 250px;
}

.plus-sign {
  width: 30px; /* Set the width of the button */
  height: 30px; /* Set the height of the button */
  left: 1326px;
  background-color: transparent; /* Set the background color of the button */
  border: 4px solid white; /* Set a border around the button */
  border-radius: 50%; /* Make the button round */
  font-size: 18px; /* Set the font size of the button */
  cursor: pointer;
  z-index: 1; /* Ensure the button appears above the popup content */
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* CSS for deadline input */
.deadline-input {
  padding: 2px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

.deadline-input:focus {
  outline: none;
  align-items: center;
  display: flex;
}

.blah {
  position: flex;
  align-items: center;
  width: auto;
  background: transparent;
}


}

.tab.active {
  background-color: rgb(224, 192, 149);
  color: #fff;
}

.checkmark {
  margin-left: 5px;
}

.timer-display{
  top: 250px;
}

.plus-sign {
  width: 30px; /* Set the width of the button */
  height: 30px; /* Set the height of the button */
  left: 1326px;
  background-color: transparent; /* Set the background color of the button */
  border: 4px solid white; /* Set a border around the button */
  border-radius: 50%; /* Make the button round */
  font-size: 18px; /* Set the font size of the button */
  cursor: pointer;
  z-index: 1; /* Ensure the button appears above the popup content */
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi-plus {
  color: white;
  width: 21px;
  height: 21px;
}

/* CSS for deadline input */
.deadline-input {
  padding: 2px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

.deadline-input:focus {
  outline: none;
  align-items: center;
  display: flex;
}

.blah {
  position: flex;
  align-items: center;
  width: auto;
  background: transparent;
}

.task-list {
  width: 25%;
  height: 500px;
  border-radius: 42px; /* Border radius will make the corners rounded */
  background: #1d263b; /* Background color set to a dark shade */
  /* Add additional styles like padding, display, and flex if necessary */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  display: flex; /* Example: Use flexbox for laying out inner elements */
  flex-direction: column; /* Arrange children vertically */
  align-items: center; /* Center children horizontally */
  z-index: 0; /* Ensure it's on top of other content */
}

.task-list h2 {
  color: #FFFFFF;
}

.task-titles {
  color: #fff;
  justify-content:left;

}

.checkbox{
  border-radius: 4px;
  width: 15px;
  height: 15px;
}