
*{
  background-color: rgb(222, 189, 147);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.App {
  text-align: center;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;

}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}


.card{
  position: absolute;
  top: 10%;
  left: 15%;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1 px solid black;
  border-top-left-radius: 8px;
  z-index: 20;
}
.card h1{
  font-style: italic;
  background-color: white;
}
.content{
  display: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  position: absolute;
  top: 10%;
  left: 15%;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1 px solid black;
  border-top-left-radius: 8px;
  z-index: 20;
}
.content h1{
  background-color: white;
}
.show-content{
  display: inline;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  position: absolute;
  top: 10%;
  left: 15%;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1 px solid black;
  border-top-left-radius: 8px;
  z-index: 20;
}
.show-content h1{
  font-style: italic;
  background-color: white;
}
.defaultButton{
  z-index: 10;
  width: 6%;
  height: 30%;
  background-color: rgb(222, 222, 222);
  position: absolute;
  border: 1px solid transparent;
  border-radius: 15px;
  margin-top: 5.05%;
  margin-left: -39.8%;
  
}
.defaultButton h1{
  font-weight: 900;
  font-size: 25px;
  background-color: rgb(222, 222, 222);
  color: rgb(63, 63, 63);
  writing-mode: vertical-rl;
  border: 1px solid transparent;
  margin: 10px 30px 10px 8px;
}
.defaultButton img{
  width: 32%;
  background-color: rgb(222, 222, 222);
  padding: 10px; 
  margin: 10px 30px 0px 0px;
}
.clickedButton{
  z-index: 30;
  width: 6%;
  height: 31%;
  background-color: white;
  position: absolute;
  border: 1px solid transparent;
  border-radius: 15px;
  margin-top: 4.75%;
  margin-left: -39.8%;
}
.clickedButton h1{
  font-size: 25px;
  font-weight: 900;
  background-color: white;
  writing-mode: vertical-rl;
  border: 1px solid transparent;
  text-align: center;
}
.clickedButton img{
  width: 32%;
  background-color: white;
  padding: 20px; 
  margin: 10px 10px 0px 0px;
}
.defaultButton-calender{
  z-index: 10;
  width: 6%;
  height: 30%;
  background-color: rgb(222, 222, 222);
  position: absolute;
  border: 1px solid transparent;
  border-radius: 15px;
  margin-top: 19.20%;
  margin-left: -39.8%;
}
.defaultButton-calender h1{ 
  font-weight: 900;
  font-size: 25px;
  background-color: rgb(222, 222, 222);
  color: rgb(63, 63, 63);
  writing-mode: vertical-rl;
  border: 1px solid transparent;
  margin: 10px 30px 10px 8px;
}
.defaultButton-calender img{
  width: 32%;
  background-color: rgb(222, 222, 222);
  padding: 10px; 
  margin: 10px 30px 0px 0px;
}
.clickedButton-calender{
  z-index: 30;
  width: 6%;
  height: 30%;
  background-color: white;
  position: absolute;
  border: 1px solid transparent;
  border-radius: 15px;
  margin-top: 19.20%;
  margin-left: -39.8%;
}
.clickedButton-calender h1{ 
  font-size: 25px;
  font-weight: 900;
  background-color: white;
  writing-mode: vertical-rl;
  border: 1px solid transparent;
  text-align: center;
}
.clickedButton-calender img{
  width: 32%;
  background-color: white;
  padding: 20px; 
  margin: 10px 10px 0px 0px;
}

.plus-button {
  position: absolute;
  top: 25px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
.dropdown-container {
  left: 10px;
  text-align: start;
}

/* Styles for the select element itself */
.dropdown-container select {
  width: 17%;
  padding: 20px;
  margin-top: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none; /* Removes default chrome and safari style */
  -moz-appearance: none; /* Removes default style Firefox */
  appearance: none; /* Remove default arrow in IE */
}

/* Style for adding an arrow symbol in the dropdown */
.dropdown-container select:after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 15px;
  pointer-events: none;
}

/*Category button and pop up styling*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.category-button-container button {
  width: 145px;
  height: 22px;
  position: absolute;
  top: 43px;
  left: 1300px;
  background: none;
  color: #4A4A48;
  border: none;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  border-radius: 4px;
  animation-duration: 0ms; /* Instant animation as required, though this will not have any visible effect */
  transition: background-color 0.3s; /* Assuming you want a color change on hover, for example */
}

.popup {
  width: 627px;
  height: 235px;
  border-radius: 42px; /* Border radius will make the corners rounded */
  background: #1D263B; /* Background color set to a dark shade */
  /* Add additional styles like padding, display, and flex if necessary */
  padding: 20px; /* Padding inside the popup */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  display: flex; /* Example: Use flexbox for laying out inner elements */
  flex-direction: column; /* Arrange children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  position: absolute; /* Position absolute to position the popup over other content */
  top: 50%; /* Center the popup vertically */
  left: 50%; /* Center the popup horizontally */
  transform: translate(-50%, -50%); /* Offset by -50% of its size for perfect centering */
  z-index: 1000; /* Ensure it's on top of other content */
}

.popup-title {
  width: 192px;
  height: 39px;
  position: absolute;
  top: 35px;
  left: 230px;
  font-family: 'DM Sans', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 39.06px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFF; 
  background: none;
  margin: 0; /* Remove default margins from heading element */
}

.popup input{
margin-top: 39px;
width: 343px;
height: 48px;
top: 113px;
left: 142px;
border-radius:30px;
border: 1px solid #1C1C1C33;
background-color: #FFFF;
}

.popup button {
position: absolute;
width: 105px;
height: 32px;
left: 270px;
top: 200px;
filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.1));
background: #EAD2AC;
border-radius: 100px;  

font-family: 'DM Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #FFFF;
}

.close-button {
color: #FFFF;
font-size: 30px !important;
top: -150px  !important;
cursor: pointer;
position: relative !important;
z-index: 1 !important;
height: 25px !important;
width: 25px !important;
line-height: 25px !important;
text-align: center !important;
background-color: transparent !important;
border-radius: 10% !important;
transform: rotate(-45deg);
}


.close-button::after {
  content: '';
  position: absolute;
  top: 60%;
  left: 58%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 3px solid #FFFF;
  border-radius: 50%;
}

